In [80]:
import pandas as pd
from ast import literal_eval

In [124]:
df=pd.read_csv("data-2021-03-17.csv")
df=df.fillna(value=0)

In [125]:

languagepillar='VERB'
df['LEMMATA_'+languagepillar]=df['LEMMATA_'+languagepillar].astype(str)
df['LEMMATA_'+languagepillar] = df['LEMMATA_'+languagepillar].map(lambda x: x.strip('[]'))
grouped=df.groupby(['STOCK'], as_index = False).agg({'LEMMATA_'+languagepillar: [','.join, 'count']})
grouped.columns = ["".join(x) for x in grouped.columns.ravel()]
grouped=grouped.sort_values(by='LEMMATA_'+languagepillar+"count", ascending=False)
grouped['LEMMATA_'+languagepillar+'join'] = grouped['LEMMATA_'+languagepillar+'join'].map(lambda x: x.strip(' '))
print(grouped)


#
wordlist = grouped.iloc[0]['LEMMATA_'+languagepillar+'join'].split(',')
wordfreq=pd.DataFrame([])
for w in wordlist:
    if w!='' and w!='0':
        wordfreq=wordfreq.append({"word":w, "count":wordlist.count(w)}, ignore_index=True)
wordfreq=wordfreq.sort_values(by="count", ascending=False)
wordfreq.drop_duplicates(subset=['count','word'], keep='first',inplace=True)
print(wordfreq)

    STOCK                                   LEMMATA_NOUNjoin  \
32   $GME  ,'saving','yolo','stock','amp','stimulus', 'ch...
2    $AMC  'stimy', 'today','piece', 'money','piece', 'mo...
40  $HMNY  'concession', 'increase',,,'cent', 'stock',,'f...
82  $UWMC  'stock', 'chart','yolo','son','dd','profit', '...
38  $HCMC                       'hcmc','hcmc','hcmc', 'hcmc'
..    ...                                                ...
28  $FBDL                               'increase', 'artist'
27  $EXPR  'bill', 'man', 'school', 'coyote', 'expr', 'un...
26   $EDU           'ape', 'care', 'crash', 'stock', 'split'
25   $DDD                                   'loac', 'merger'
44  $KMPH

    LEMMATA_NOUNcount
32                 36
2                  17
40                  6
82                  5
38                  3
..                ...
28                  1
27                  1
26                  1
25                  1
44                  1

[89 rows x 3 columns]
ipykernel_launcher:5: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.

    count          word
69    5.0   'portfolio'
59    3.0       'crash'
64    3.0        'loss'
68    3.0    'scenario'
58    3.0         'top'
..    ...           ...
32    1.0      'savior'
31    1.0  'divergence'
30    1.0       'today'
29    1.0        'drop'
98    1.0        'moon'

[78 rows x 2 columns]